---
import Navbar from '../Navbar.astro'

const headerListItems = [
  'Servicio Cool',
  'Otro Servicio',
  'Algo Más',
  '¿Por qué no?',
  'Rotando',
  'Lista',
  'Elementos',
]
const site = Astro.site
---
<header class="header w-full min-h-screen flex flex-col justify-between">
  <Navbar />
  <div class="flex flex-col justify-center h-full py-12">
    <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
      <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
        <h1 class="tracking-wide text-purple-600 text-2xl mb-6">
          Nueva: <span class="text-gray-800 font-bold tracking tracking-widest">EMPRESA</span>
        </h1>
        <h2 class="font-bold tracking-widest text-4xl">
          Aquí va la Intro...
        </h2>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            {headerListItems.map((item) => <li class="content__container__list__item xl:pl-3">{item}</li>)}
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">...piénsalo bien!</p>
      </div>
      <div class="w-full sm:w-1/2">
        <img src={`${site}img/undraw_Friends_online_re_r7pq.svg`} alt="AWE.SOME header">
      </div>
    </div>
  </div>
  <div class="flex flex-row w-full justify-center pb-12">
    <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#about">
      Más información
    </a>
  </div>
</header>
