---
interface Props {
  title: string
}

const { title } = Astro.props
---
<div id="register" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800">
  <div class="self-center text-center w-full xl:w-1/3 px-4 sm:px-0">
    <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{title}</h2>
    <div class="font-light text-gray-400 text-xl">
      <slot />
    </div>
    <form class="w-full max-w-lg my-20 mx-auto" action="#" method="post" id="registration-form" target="_blank">
      <div class="flex items-center border-b border-purple-600 py-2">
        <input class="appearance-none bg-transparent border border-transparent w-full text-gray-200 focus:outline-none focus:bg-gray-300 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" type="email" value="" name="EMAIL" placeholder="sheldon.cooper@liamg.com" aria-label="Email Address" required>
        <button class="flex-shrink-0 bg-purple-600 border-purple-600 hover:bg-gray-800 hover:text-purple-600 border text-gray-200 py-2 px-4" type="submit" name="subscribe">
          Registrarse
        </button>
      </div>
      <label class="block text-gray-200 text-left px-2 mt-4" for="gdpr_37169">
        <input class="leading-tight" type="checkbox" id="gdpr_37169" name="gdpr[37169]" value="Y" required>
        <span class="text-md font-light">
          Estoy de acuerdo con la <a href="/privacy" class="underline hover:no-underline hover:text-purple-600" title="Privacy Policy" target="_blank">Política de Privacidad</a>
        </span>
      </label>
    </form>
  </div>
</div>
