---
import siteData from '../data/site.json'

const pn = Astro.url.pathname
const isHome = pn === '/'
const site = Astro.site
const abtLink = isHome
  ? '#about'
  : `${site}#about`
const ftLink = isHome
  ? '#features'
  : `${site}#features`
---
<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {siteData.social.map((scm) => (
        <li>
          <a class="text-gray-800 hover:text-purple-600 no-underline" href={scm.url} target="_blank" rel="_noopener">{scm.title}</a>
        </li>
      ))}
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0"></div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href={abtLink}>Acerca de</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href={ftLink}>Servicios</a>
      </li>
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0"></div>
  <div class="text-center pl-0 sm:pl-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href={`${site}privacy`}>Privacidad</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href={`${site}imprint`}>Imprint</a>
      </li>
    </ul>
  </div>
</footer>
<div class="w-full">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; {siteData.author}
  </span>
</div>
<div class="">
  <a id="btt" class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-purple-600 hover:bg-gray-200 hover:text-purple-600 hover:border-browngray no-underline px-6 py-1 bg-purple-600 shadow-md" href="#top" title="Volver arriba">UP</a>
</div>
<div class="fixed bottom-0 left-0 m-6">
  <a href="https://github.com/emersondivB0" target="_blank" rel="noopener" title="Sígueme @ GitHub" class="block rounded-full bg-black text-purple-600 hover:bg-white hover:text-black shadow-md p-4">
    <img src={`${site}img/github.svg`} width="30" height="30" class="block" alt="GitHub icon">
  </a>
</div>
<!-- "Follow" Tooltip template -->
<template id="followTip">
  {siteData.social.map((scm) => (
    <a href={scm.url} class="inline-block text-gray-200 text-sm bg-purple-600 shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1" target="_blank" rel="noopener">{scm.title}</a>
  ))}
</template>
