---
import siteData from '../data/site.json'

const pn = Astro.url.pathname
const isHome = pn === '/'
const site = Astro.site
const abtLink = isHome
  ? '#about'
  : `${site}#about`
const ftLink = isHome
  ? '#features'
  : `${site}#features`
const regLink = isHome
  ? '#register'
  : `${site}#register`
---
<nav class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-white sm:bg-transparent shadow sm:shadow-none">
  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    <a href={Astro.site} class="no-underline">
      <img src={`./img/TU-LOGO.png`} alt="AWE.SOME Logo" class="h-12 py-1">
    </a>
    <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu">
      <span class="hamburger__top-bun"></span>
      <span class="hamburger__bottom-bun"></span>
    </button>
  </div>
  <div id="menu" class="w-full sm:w-auto self-end sm:self-center hidden sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0">
    <a class="text-gray-800 font-bold hover:text-purple-600 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" href={abtLink}>Acerca de</a>
    <a class="text-gray-800 font-bold hover:text-purple-600 text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1" href={ftLink}>Servicios</a>
    <span id="follow" class="hidden sm:inline-block text-gray-800 font-bold hover:text-purple-600 text-lg sm:w-auto sm:px-4 sm:py-1 cursor-pointer">Síguenos</span>
    {siteData.social.map((scm) => (
      <a href={scm.url} class="text-gray-800 font-bold hover:text-purple-600 text-lg text-center w-full no-underline sm:hidden py-2" target="_blank" rel="noopener">{scm.title}</a>
    ))}
    <a class="text-gray-800 border border-indigo-800 text-lg bg-gray-100 rounded-full w-auto no-underline text-center sm:text-left hover:border-purple-600 hover:text-purple-600 hover:bg-white hover:shadow-md px-6 py-1 my-2 sm:my-0 sm:ml-4" href={regLink}>Regístrate</a>
  </div>
</nav>
